<p>Please first ensure that the City is not in the dropdown
        <select>
          <% cities.forEach(function(c) { %>
            <option><%= c.location %></option>
          <% }) %>
        </select>
      </p>

      <form id="add-city-form" action="/users" method="POST">
        <label>Location:</label>
        <input type="text" name="location">
        <label>Pictures:</label>
        <input type="text" name="imgs">
        <input type="submit" value="Add City">
      </form>
      