<%- include('../partials/header') %>

<section id="new-city-page">
  <div class="container">
<p>Please first ensure that the Location is not in the dropdown
        <select class="browser-default">
          <% cities.forEach(function(c) { %>
            <option><%= c.location %></option>
          <% }) %>
        </select>
      </p>

      <form id="add-city-form" action="/users" method="POST">
        <label>Location:</label>
        <input type="text" name="location">
        <input type="submit" value="Add Location">
      </form>
    </div>
    </section>
  <%- include('../partials/footer') %>