<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neuton:700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <div class="nav-wrapper cyan darken-3">
      <a href="/users" class="brand-logo left">Take Me Away</a>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>

<div class="slider-adjustment">
  <div class="slider fullscreen">
    <div class="center-align">
      <ul class="slides">
        <li>
          <img style="max-width: 900px" src="https://i.imgur.com/yX1eswx.jpg">
          <div class="caption center-align">
            <h3>Welcome!</h3>
            <h5 class="light grey-text text-lighten-3">Let's Get Away.</h5>
          </div>
        </li>
        <li>
          <img style="max-width: 900px" src="https://i.imgur.com/etMyGFp.jpg"> 
          <div class="caption center-align">
            <h3>Welcome!</h3>
            <h5 class="light grey-text text-lighten-3">Let's Get Away.</h5>
          </div>
        </li>
        <li>
          <img style="max-width: 900px" src="https://i.imgur.com/x5Bou6b.jpg">
          <div class="caption center-align">
            <h3>Welcome!</h3>
            <h5 class="light grey-text text-lighten-3">Let's Get Away.</h5>
          </div>
        </li>
        <li>
          <img style="max-width: 900px" src="https://i.imgur.com/UgKVRLd.jpg"> 
          <div class="caption center-align">
            <h3>Welcome!!</h3>
            <h5 class="light grey-text text-lighten-3">Let's Get Away.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
   


  
  <script>

    $(document).ready(function () {
      $('.slider').slider();
    });


  </script>
  <%- include('./partials/footer') %>